.main-button {
  background-color: $button-color;
  padding: 26px 60px;
  border: none;
  border-radius: 16px;
  width: fit-content;
  cursor: pointer;
  transition: all ease-out .3s;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  &:hover{
    background-color: $light-blue;
  }
}