// color variables:
$lavander: #a9b0fc;
$light-blue: #dbe8fe;
$bg-color: #1a1a1a;
$light-black: #5a5a5a;
$black: #000;
$graphite: #1a1a1a;
$white: #fff;
$yellow: #fccd46;
$dark-orange: #F29A38;
$dark-orange-click: #F68E19;
$light-yellow: #ffdf75;
$grey: #525151;
$button-color: #a1c4ff;