// color variables:
$min-width: 360px;
$max-width: 1920px;
$min-widthContainer: 320;
$max-widthContainer: 1200;
$desktop: 1920px;
$laptop: 1199px;
$tablet: 849px;
$L-mobile: 639px;
$mobile: 550px;
$pseudo-container-width: 1200px;
$pseudo-container-widthLaptop: 850px;
$pseudo-container-widthTablet: 640px;
$pseudo-container-widthLmobile: 500px;
$pseudo-container-widthMobile: 360px;
$pseudo-container-gap: calc((100vw - ($pseudo-container-width)) / 2);
$pseudo-container-gapLaptop: calc((100vw - ($pseudo-container-widthLaptop)) / 2);
$pseudo-container-gapTablet: calc((100vw - ($pseudo-container-widthTablet)) / 2);
$pseudo-container-gapLmobile: calc((100vw - ($pseudo-container-widthLmobile)) / 2);
$pseudo-container-gapMobile: calc((100vw - ($pseudo-container-widthMobile)) / 2);