section {
  margin: 140px 0;
}

.slogan {
  background-image: url("@img/background-header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  &-blur {
    position: absolute;
    content: "";
    width: 100%;
    height: 96px;
    bottom: 0;
    background-image: linear-gradient(
      to bottom,
      rgba(255, 0, 0, 0),
      rgb(26, 26, 26)
    );
    z-index: 5;
  }
}

.section-one {
  padding: 59px 0 107px;
  position: relative;
  &__items {
    display: flex;
    flex-direction: column;
    row-gap: 66px;
    max-width: 656px;
    & p {
      font-size: 20px;
      line-height: 30px;
    }
    &-info {
      display: flex;
      gap: 22px;
      & span {
        display: flex;
        align-items: center;
        gap: 17px;
        & svg {
          width: 40px;
          height: 41px;
        }
      }
    }
  }
}

.section-two {
  position: relative;
  & > svg {
    position: absolute;
    bottom: -135px;
    left: -75px;
    width: 340px;
    height: 318px;
    opacity: 0.8;
    z-index: -1;
  }
  &__items {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    &-description {
      display: flex;
      flex-direction: column;
      row-gap: 53px;
    }
    &-table {
      display: grid;
      grid-template-columns: repeat(2, minmax(170px, 1fr));
      row-gap: 50px;
      column-gap: 70px;
      & span {
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        & p {
          font-size: 16px;
          line-height: 24px;
          margin-top: 10px;
        }
        & svg {
          width: 48px;
          height: 48px;
        }
      }
    }
  }
}

.section-three {
  &__items {
    border-radius: 18px;
    background-color: $white;
    padding: 59px 21px 0px 101px;
    position: relative;
    overflow: hidden;
    & > svg:first-of-type {
      width: 64px;
      height: 62px;
      position: absolute;
      left: 17px;
    }
    &-wrapper {
      display: flex;
      gap: 74px;
      & > div:first-child {
        max-width: 467px;
        flex-basis: 50%;
      }
    }
    &-info {
      display: flex;
      flex-basis: 50%;
      position: relative;
      & > img {
        margin: 0 auto;
        z-index: 3;
        // position: relative;
      }
      & > span {
        position: absolute;
        border: 1px solid $yellow;
        display: flex;
        gap: 13px;
        border-radius: 4px;
        padding: 7px 14px;
        align-items: center;
        background-color: $white;
        z-index: 2;
        & p {
          font-size: 16px;
          line-height: 24px;
        }

        // color: ;
        & svg {
          width: 41px;
          height: 41px;
        }
        &:nth-of-type(1) {
          right: 0;
          top: -25px;
        }
        &:nth-of-type(3) {
          bottom: 90px;
        }
        &:nth-of-type(2) {
          top: 120px;
        }
        &:last-of-type {
          width: 253px;
          height: 245px;
          background-color: rgba(66, 176, 229, 0.5);
          border: none;
          left: 50%;
          bottom: 0;
          transform: translate(-50%, 0);
          filter: blur(100px);
          z-index: 1;
        }
      }
    }
    & h2,
    p {
      color: $graphite;
    }
    & h2 {
      margin-bottom: 48px;
    }
  }
}

.section-four {
  &__items {
    display: flex;
    position: relative;
    & img {
      border-radius: 6px;
      max-width: 793px;
    }
    &-description {
      position: absolute;
      z-index: 1;
      right: 0;
      // height: 100%;
      display: flex;
      flex-direction: column;
      gap: 30px;
      background-color: #fff;
      padding: 34px 54px;
      border-radius: 6px;
      color: #a1a1a1;
      align-self: center;
    }
  }
}
