.footer {
  padding: 50px 0;
  &-items {
    display: flex;
    justify-content: space-between;
    @media (max-width: $L-mobile) {
      flex-direction: column;
      row-gap: 41px;
    }
    &__logo {
      flex-basis: 33%;
      & svg {
        width: 170px;
        height: 30px;
      }
    }
    &__navigation {
      flex-basis: 33%;
      & ul {
        display: flex;
        flex-direction: column;
        gap: 29px;
        @media (max-width: $L-mobile) {
          row-gap: 14px;
        }
        & a {
          font-size: 16px;
          line-height: 20px;
          font-weight: 400;
          color: $white;
          transition: all ease-in 0.2s;
          &:hover {
            color: $dark-orange-click;
          }
        }
      }
    }

    &__links {
      & a {
        font-size: 20px;
        line-height: 30px;
        font-weight: 400;
        color: $white;
        margin: 0 auto;
        transition: all ease-in 0.2s;
        &:hover {
          color: $dark-orange-click;
        }
      }
      &-icons {
        margin-top: 20px;
        display: flex;
        gap: 23px;
        @media (max-width: $L-mobile) {
          gap: 20px;
          max-width: 130px;
        }
        & svg {
          width: 33px;
          height: 33px;
          fill: $grey;
          transition: all ease-in 0.3s;
          &:hover {
            fill: $yellow;
          }
        }
      }
    }
  }
}
