.footer {
  padding: 50px 0;
  &-items {
    display: flex;
    justify-content: space-between;
    &__logo svg {
      width: 170px;
      height: 30px;
    }
    &__navigation ul {
      display: flex;
      flex-direction: column;
      gap: 29px;
      & a {
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        color: $white;
      }
    }
    &__links {
      & a {
        font-size: 20px;
        line-height: 30px;
        font-weight: 400;
        color: $white;
        margin: 0 auto;
      }
      &-icons{
        margin-top: 20px;
        display: flex;
        gap: 23px;
        & svg {
          width: 33px;
          height: 33px;
          fill: $grey;
          transition: all ease-in .3s;
          &:hover{
            fill: $yellow;
          }
        }
      }
    }
  }
}
