.header {
  position: relative;
  padding: 26px 0;
  @media (max-width: $L-mobile) {
      padding: 14px 0;
    }
  .header-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 5px 0;
      svg {
        width: 175px;
        height: 30px;
      }
    }

    @media (max-width: $laptop) {
      justify-content: flex-start;
      gap: 60px;
    }

    @media (max-width: $tablet) {
      justify-content: space-between;
      &__menu {
        display: none;
      }
    }
  }
}
