.menu__list {
  display: flex;
  justify-content: space-between;
  gap: 70px;
  align-items: center;
  & li:first-of-type {
    display: none;
  }
  &-item a {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: $white;
    transition: all ease-in 0.2s;
    &:hover {
      color: $dark-orange-click;
    }
    & svg {
      width: 171px;
      height: 30px;
    }
  }
  @media (max-width: $laptop) {
    gap: 80px;
    & li:nth-child(5) {
      display: none;
    }
  }
  @media (max-width: $tablet) {
    & li:first-of-type {
      display: block;
    }
    flex-direction: column;
    gap: 26px;
    align-items: start;
    &-item a {
      font-size: 30px;
      line-height: 36px;
      font-weight: 700;
    }
  }
}
